:root{
    --sombre:#202125;
    --sombre-:#2a2c31;
}

nav,footer{
    background-color: var(--sombre-);
}

.bg-sombre{
    background-color: var(--sombre);
}

.bg-sombre-{
    background-color: var(--sombre-);
}

body{
    background-color: var(--sombre);
}
#filmsCarousel, #filmsCarousel .carousel-item{
    max-height: 500px;
}

